################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pdf-to-png/pdf-to-png/bin/Debug/net5.0
/pdf-to-png/pdf-to-png/obj
/.vs
